<div class="mt-4">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Cedula</th>
                <th scope="col">Nombres</th>
                <th scope="col">Apellidos</th>
                <th scope="col" colspan="3">Operaciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td width="10px">
                    <a href="#" class="btn btn-sm btn-success">Ver</a>
                </td>
                <td width="10px">
                    <a href="#" class="btn btn-sm btn-primary">Editar</a>
                </td>
                <td>
                    <a href="#" class="btn btn-sm btn-danger">Eliminar</a>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td width="10px">
                    <a href="#" class="btn btn-sm btn-success">Ver</a>
                </td>
                <td width="10px">
                    <a href="#" class="btn btn-sm btn-primary">Editar</a>
                </td>
                <td>
                    <a href="#" class="btn btn-sm btn-danger">Eliminar</a>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td width="10px">
                    <a href="#" class="btn btn-sm btn-success">Ver</a>
                </td>
                <td width="10px">
                    <a href="#" class="btn btn-sm btn-primary">Editar</a>
                </td>
                <td>
                    <a href="#" class="btn btn-sm btn-danger">Eliminar</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>