<div class="mt-4">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Cedula</th>
                <th scope="col">Nombres</th>
                <th scope="col">Apellidos</th>
                <th scope="col" colspan="3">Operaciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let student of students">
                <th scope="row">{{ student.cedula }}</th>
                <td>{{ student.nombres }}</td>
                <td>{{ student.apellidos }}</td>
                <td width="10px">
                    <button class="btn btn-sm btn-success" (click)="getById(student.id)">Ver</button>
                </td>
                <td width="10px">
                    <a href="#" class="btn btn-sm btn-primary">Editar</a>
                </td>
                <td>
                    <a href="#" class="btn btn-sm btn-danger">Eliminar</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>