<div class="mt-4">
    <a routerLink="/student/create" class="btn btn-sm btn-success">Crear Estudiante</a>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Cedula</th>
                <th scope="col">Nombres</th>
                <th scope="col">Apellidos</th>
                <th scope="col" colspan="3">Operaciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let student of students">
                <th scope="row">{{ student.cedula }}</th>
                <td>{{ student.nombres }}</td>
                <td>{{ student.apellidos }}</td>
                <td width="10px">
                    <a [routerLink]="['/student/', student.id]" class="btn btn-sm btn-success">Ver</a>
                </td>
                <td width="10px">
                    <a href="#" class="btn btn-sm btn-primary">Editar</a>
                </td>
                <td>
                    <button class="btn btn-sm btn-danger" (click)="deleteStudent(student.id)">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>